/* footer */

footer div div ul {
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
.dev {
  background-color: black;
  color: white;
}
.icons {
  background-color: black;
  color: white;
}
