body {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
 justify-content: space-evenly;
  text-align: center;
  color: white;
}

header h1 {
  color: #222;
}
main {
  text-align: center;
  padding: 20px;
}

main img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 0;
}

main p {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}

footer {
 
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}

.social-icons a:hover {
  color: #00aced;
}

.form-table {
  padding: 30px;
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-table h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-table table {
  width: 100%;
}

.form-table input,
.form-table textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

header nav {
  background-color: #222;
  padding: 10px 0px 10px 0;
}

header nav a {
  color: white;
  text-decoration: none;
  padding-left: 50px;
}

footer div i {
  padding-left: 30px;
}
footer div {
  padding-left: 350px;
}
footer div a {
  color: white;
}
